.home {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;


  &__create {
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
    border: 5px rgb(202, 114, 249) solid;
    width: 270px;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
  }
}

@media only screen and (max-width: 924px) {
  .home {
    margin-top: 100px;

    
  }
}