.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding: 20px;

  h2 {
    font-size: 3.6rem;
    margin-bottom: 20px;
    background-color: purple;
    color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
  }


  &__create {
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
  }
}