.IngredientsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-bottom: 20px;

  &__label--input {
    display: flex;
    margin-bottom: 5px;

    textarea {
      resize: none;
      text-align: center;
      height: 30px;
      width: 200px;

      font-size: 1.6rem;
      padding-top: 5px;
    }
    button {
      width: 60px;
      font-size: 1.6rem;
      margin-left: 4px;
    }
  }

  p {
    display: flex;
    align-items: center;
    span {
      transform: rotate(90deg);
      font-size: 3rem;
    }
  }
}
.IngredientsForm > p {
  font-size: 1.8rem;
}
