.IngredientsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-bottom: 20px;

  &__label--input {
    display: flex;
    margin-bottom: 5px;

    textarea {
      resize: none;
      text-align: center;
      height: 30px;
      width: 200px;

      font-size: 1.6rem;
      padding-top: 5px;
    }
    button {
      width: 60px;
      height: 30px;
      font-size: 1.6rem;
      margin-left: 4px;
      background-color: purple;
      color: white;
      border-radius: 10px;
      border: 1px rgb(202, 114, 249) solid;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
    }
  }

  p {
    display: flex;
    align-items: center;
    span {
      transform: rotate(90deg);
      font-size: 2.6rem;
      font-weight: 700;
    }
  }
}
.IngredientsForm > p {
  font-size: 1.8rem;
  cursor: pointer;
}
