.CreateRecipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 120px;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p {
      font-size: 2rem;
    }

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
    align-items: flex-start;
      
      p {
      margin-bottom: 10px;
      }
      input {
        height: 30px;
        width: 200px;
        text-align: center;
      font-size: 1.6rem;


      }
    }
  }
}

.CreateRecipe__form > label {
  margin-bottom: 20px;
}
.CreateRecipe__form > button {
  width: 100%;
  background-color: purple;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 5px rgb(202, 114, 249) solid;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;

}
.author {
  margin-bottom: 10px;
}
.author > span {
  margin-left: 5px;
  font-weight: 300;
}

@media only screen and (max-height: 800px) {
  .CreateRecipe {
    justify-content: flex-start;
    margin-top: 120px;
  }
}