.SuggestedRecipes {

  display: flex;
  flex-direction: column;
  align-items: center;

  p {
  font-size: 1.6rem;
  }

  &__list {
    display: flex;
    a {
      border: 1px solid black;
      margin: 10px;
    }
  }
}
